.all-data-container {
  margin-bottom: 150px;
  text-align: center;
  width: 100%;

}

.chart {
  display: inline-flex;
  justify-content: center;
  margin-top: 55px;
  width: 100%;
  max-width: 800px;
  
}