* {
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

.table-container {
  margin: 0px auto;
  width: 100%;
  max-width: 730px;
  min-width: 350px;
  border-collapse: collapse;
}

.margin-container {
  margin-bottom: 80px;
}

.title-container {
  text-align: center;
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: bolder;
  color: #1e3a8a;
}

.table-container td,
th {
  padding: 8px;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.table-container th {
  background-color: #1e3a8a;
  color: #fff;
}

.table-container tbody tr:nth-child(even) {
  background-color: #345dce3f;
}

.table-container tbody tr:nth-child(odd) {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.more-icon {
  cursor: pointer;
  vertical-align: middle;
}

.alert-icons {
  font-size: 18px;
  
}

.modal-title {
  font-size: 21px;
  margin-bottom: 8px;
}

.body-modal {
  width: 100%
}

.body-modal-container {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.image {
  width: 320px;
  height: 320px;
}

.props-modal-container {
  text-align: left;
}

.title-modal-container {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

.icon-align {
  vertical-align: middle;
}

.title-modal-elements {
  margin-top: 3px;
}

.prop-modal {
  color: #1e3a8a;
  font-weight: bolder;
  font-weight: 20px;
}

.prop-uptime-container {
  display: flex;
}

.prop-uptime-modal {
  padding: 2px;
  display: block;
}

.img-modal-container {
  justify-content: center;
  margin: auto 0px;
}

.image {
  border-radius: 6px;
}

.table-props-container th {
  background-color: #1e3a8a;
  color: #fff;
  text-align: center;
}

.table-props-container {
  display: inline-table;
}

.table-props-container tr:nth-child(odd) {
  background-color: #345dce3f;
}

.table-props-container tr:nth-child(even) {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

@media (max-width: 800px) {
  .image {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 550px) {
  .body-modal-container {
    display: block;
  }

  .body-modal {
    display: inline-block;
  }

  .image {
    width: 260px;
    height: 260px;
  }
}
